* {
  margin: 0;
  padding: 0;
}
.footer__list--items ul{
  margin: 0;
  padding: 0;
}
ul li{
  list-style-type: none;
  padding: 7px  0px;
  cursor: pointer;
  transition: .4s all ease-in-out;
}
ul li:hover{
  color: #ef4a23;
  transform: translateX(3px);
}
.top__menu--Bg {
  background-color: #081621;
}
.navbar-nav .nav-link {
  font-size: 13px;
  font-weight: 600;
}

.mainLogo {
  width: 120px;
}

.top__menu--rightContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__rightOffer {
  display: flex;
  justify-content: space-between;
}

.top__icon {
  font-size: 25px;
  color: #ef4a23;
}

.form-control {
  width: 100% !important;
}

.input_fild input {
  padding: 12px;
  background: transparent;
  width: 100% !important;
  color: white !important;
}

.input_fild input::placeholder {
  font-size: 20px;
  color: white;
}

.input_fild input:focus {
  box-shadow: none;
  background: transparent;
}

.top__value {
  margin: 0;
  padding: 0;
}

.top__btn {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ) !important;
  border: none !important;
  padding: 7px 25px !important;
  margin-top: -8px;
}

/* ================================banner */
.banner__img img {
  width: 100% !important;
}

.banner__btn {
  width: 100% !important;
  background: transparent !important;
  color: #081621 !important;
  border: none !important;
  border: 1px solid #081621 !important;
}

.banner__btn:hover {
  background-color: #081621 !important;
  color: white !important;
}

.banner__rightList {
  margin: 0;
  padding: 0;
}

.banner__rightList li {
  margin: 0;
  padding: 0;
  padding: 5px 0px;
  list-style-type: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  font-weight: 500;
}

.banner__rightList li:hover {
  color: #ef4a23;
  transform: translateX(2px);
}

.banner__main--section {
  position: relative;
}

.banner__quality {
  background-color: #7c7e80;
  color: white;
  position: absolute;
  width: 100%;
  bottom: -60px;
  display: flex;
  justify-content: space-between;
}

.servicer__icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #081621;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__icon {
  font-size: 25px;
}

.services__main--section {
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

.services__main--section:hover {
  transform: translateY(-4px);
}

.services__main--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__category--main {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.product__category--main:hover {
  cursor: pointer;
  transform: translateY(-4px);
  background-color: #081621;
  color: white;
}

.product__category--main:hover .servicer__icon {
  background-color: white !important;
}

.product__category--icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #081621;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  position: relative;
}

.product:hover {
  transform: translateY(-4px);
}

.product_feature {
  background-color: #081621;
  color: white;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 7px;
}


.special__offer--section{
  background-color: #081621;
}

.special__offer--heading{
  padding: 10px 0px;
  border-radius: 10px;
  animation: textWidthAnimation 4s ease-in-out infinite alternate;
}
@keyframes textWidthAnimation {
  0% {
    background-color: red;
  }
  50% {
      background-color: blue;
  }
  100% {
      background-color: green;
  }
}